<div class="not-prose bg-base-800 rounded-xl p-1 lg:p-2 mt-4 -mx-3 lg:mx-0 shadow lg:shadow-xl">
    <div class="not-prose flex flex-col rounded-xl">
        <!-- Terminal buttons -->
        <div class="flex justify-end-safe gap-2 py-2 px-4 bg-base-800">
            <div class="w-2 h-2 lg:w-3 lg:h-3 rounded-sm bg-accent-400/90 dark:bg-accent-700/60 border border-account-600 dark:border-accent-600"></div>
            <div class="w-2 h-2 lg:w-3 lg:h-3 rounded-sm bg-accent-300/90 dark:bg-accent-600/60 border border-account-600 dark:border-accent-600"></div>
            <div class="w-2 h-2 lg:w-3 lg:h-3 rounded-sm bg-accent-200/90 dark:bg-accent-500/60 border border-account-600 dark:border-accent-600"></div>
        </div>
        <div class="rounded-lg inner-shadow py-2 px-2 lg:px-6 bg-base-800 dark:bg-black/25 [background-image:repeating-linear-gradient(0deg,transparent,transparent_2px,rgba(255,255,255,0.01)_2px,rgba(255,255,255,0.01)_4px)]">
            <img defer src="@Src" alt="@Alt" loading="lazy" style="width: 100%;" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Src { get; set; } = null!;

    [Parameter]
    public string Alt { get; set; } = "Screenshot";
}